
body {
    display: flex;
    justify-content:center;
    gap: 20px;
    background: linear-gradient(to right, red , yellow);
}

input {
    padding: 30px 20px;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 1px  rgba(0, 0, 0, 0.21);
}

